.dm-export {
  background-color: rgba(225, 225, 225);
  padding: 10px 10px;
  border-radius: 2px;
}

.dm-export-item {
  background-color: rgba(180, 180, 180);
}

.dm-export-item:hover {
  background-color: black;
  color: white;
  padding-left: 10px;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
}

.btn-wrap{
  padding-top: 30px; 
  margin-bottom: -50px;
}

.absensiCount{
  margin-top: 25px;
  font-size: 14px;
}

.userVCount{
  margin-top: 25px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .r-btn {
    margin: 8px 0px 0px 0px;
    padding: 0 28px;
  }
  .btn-wrap{
    margin-bottom: 20px;
  }
  .absensiCount{
    line-height: 20px;
    display: grid;
    place-items: center;
  }
  .userVCount{
    line-height: 20px;
    display: grid;
    place-items: center;
  }
}
