/* ============================================== Navbar ===============================================*/

.bg-softblue {
  color: #fff;
  background-color: #199ac5 !important;
  /* background-color: #1fa8d6; */
}

.bg-softgreen {
  background-color: #37a249 !important;
}

.bg-kingucrimson {
  background-color: #b44c5e !important;
}

.bg-nanas {
  background-color: #d19000 !important;
}

.dropdown .dropdown-menu.show {
  animation-name: dropdownAnimation;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

/* .navbar-nav .dropdown-menu {
  position: static;
  float: none;
} */

.notif-pengumuman .dropdown-menu-lg {
  min-width: 20rem;
  border-radius: 0 !important;
}

.notif-pengumuman .dropdown-menu-right {
  right: 0;
  left: auto;
}

.notif-pengumuman .dropdown-menu-header {
  padding: 0.75rem;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid #dee2e6;
  font-family: "Roboto";
}

.notif-pengumuman .dropdown-menu-footer {
  padding: 0.5rem;
  text-align: center;
  display: block;
  font-size: 0.75rem;
}

.notif-pengumuman .custom-indicator {
  display: inline-block;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  position: absolute;
  top: -6px;
  font-family: "Roboto";
  right: -8px;
}

#add_img {
  overflow-x: clip;
}

.overflowx-text {
  overflow-x: clip;
}

.text-green {
  color: #0f9c21 !important;
}

@media (max-width: 575.98px) {
  .navbar-nav .dropdown-menu-lg {
    min-width: 100%;
  }

  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: inherit;
  }
}
