* {
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.cbg-sea {
  background-color: #86c2dd !important;
}

.mulai {
  color: #0211f1;
  font-weight: bold;
  border: 4px #010b92 double;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}

.mulai:hover {
  color: #0033ff;
  border: 4px #05052bbb inset;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  background-color: rgba(185, 229, 255, 0.8);
}

.card-img-top{
  height: 350px;
  border-radius: 20px;
}

.c-main{
  border: 2px grey solid;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
  background-image: linear-gradient(rgb(55, 81, 126), rgb(146, 233, 255));
}

.c-main h4{
  text-decoration: underline;
  font-size: 20px;
}

.c-main p{
  font-size: 15px;
}

.c-body .img-fluid{
  height: 200px;    
  width: 100%;
  border-radius: 10px;  
  margin-bottom: 40px;
}

#nav-kebijakan li.active a, #nav-partnership li.active a, #nav-waspada li.active a {
  background-color: blue;
}

.kebijakan-wrap section, .partnership-wrap section, .waspadapenipuan-wrap section{
  padding: 10px 10px 10px 10px;
}

.card-wrap{
  margin-bottom: 30px;
}

.article{
  margin-top: 15px;
}

.article p{
  text-align: justify;
}

.intro{
  text-align: justify;
}

.navbar{
  background-color: rgba(185, 229, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.login-body{
  background-image: url("../img/home/HHome.png");
  background-repeat: no-repeat;
  background-size: 1600px 900px;
}

.home-landing{
  padding-top: 200px;
  height: 100px;
  margin-bottom: -1000px;
}

.kebijakan-landing{
  padding-top: 200px;
  height: 100px;
  margin-bottom: 50px;
}

.waspada-landing{
  padding-top: 200px;
  height: 100px;
  margin-bottom: -400px;
}

#footer {
  font-size: 14px;
  background-image: url("../img/home/FHome.png");
  background-repeat: no-repeat;
  background-size: 1600px 900px;
  height: 1000px;
}