* {
  list-style: none;
}

body{
  margin:0px;
}

.cbg-sea {
  background-color: #86c2dd !important;
}

.mulai {
  color: #0211f1;
  font-weight: bold;
  border: 6px #0211f1;
  border-style: inset;
}

.mulai:hover {
  color: #001158;
  border: 6px #001158;
  border-style: inset;
}

.card-img-top{
  height: 350px;
  border-radius: 20px;
}

.c-main{
  border: 2px grey solid;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
}

.c-main h4{
  text-decoration: underline;
  font-size: 20px;
}

.c-main p{
  font-size: 15px;
}

.c-body .img-fluid{
  height: 200px;    
  width: 100%;
  border-radius: 10px;  
  margin-bottom: 40px;
}

.card-wrap{
  margin-bottom: 30px;
}

.con-article .card{
  height: 400px;
}

.con-article .card a{
  margin-top: 20px;
}

.article{
  margin-top: 15px;
}

.article p{
  text-align: justify;
}

.intro{
  text-align: justify;
}

#footer {
  font-size: 14px;
  background: #37517e;
}

#footer .line{
  display: none;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background-image: linear-gradient(rgb(71, 187, 255), rgb(185, 229, 255));
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #37517e;
  font-weight: bold;
  margin-left: 8px;
  transition: 2s;
}

#footer .footer-top .social-links a {
  margin-top: -20px;
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-top{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  #footer .footer-top .f1-content, .f4-content{
    text-align: center;
  }
  #footer .footer-top .f2-content{
    padding: 10px;
    flex: 50%;
    text-align: left;
  }
  #footer .footer-top .f3-content{
    padding: 10px;
    flex: 50%;
    text-align: left;
  }
  .f-kolom ul li{
    left: 50px;
    right: 50px;
  }
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
  #footer .line{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid;
  }
}

.info-card{
  max-width: 1000px;
  margin:0 auto;
  border-radius: 20px;
  border: 2px blue solid;
  padding: 15px 15px 15px 25px;
}

.info-card .card-title{
  margin-top: 20px;
}

.info-card img{
  max-width: 100%;
  max-height: 100%;
  width: 1920px;
  height: 260px;
}

.img-info{
  border-radius: 20px;
}

.event-description{
  padding-left: 40px;
}

.info-card .row button{
  float: right;
  margin-right: 8%;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.kebijakan{
  max-width: 1920px;
  margin:0 auto;
  border-radius: 20px;
}
