#pengaduan-user{
  padding-top: 5px;
}

#img-pengaduan{
  padding-top: 25px;
  max-width: 100%;
  width: 480px;
}

#img-pengaduan img{
  max-height: 100%;
  height: 400px;
}

#absensi-user{
  padding-top: 5px;
  padding-right: -180px;
}

#img-absensi{
  padding-top: 25px;
  max-width: 100%;
  width: 480px;
}

#img-absensi img{
  max-height: 100%;
  height: 400px;
}

.absensi-content{
  font-size: 20px;  
  line-height: 44px;
}

.absensi-content span{
  padding-left: 10px;
  letter-spacing: 3px;
}

.group-tombol{
  margin-top: 30px;
  margin: 0 auto;
}

.btn-absensi{
  margin-bottom: 20px;
}

.btn-absensi p{
  font-size: 13px;
}

.btn-izin p{
  font-size: 13px;
}

.btn-akhir-sesi{
  margin-bottom: 20px;
} 

.btn-akhir-sesi p{
  font-size: 13px;
}

.btn-left{
  float: left;
  width: 220px;
}

.btn-right{
  float: right;
  width: 220px;
}

#img-laporanbulanan{
  padding-top: 25px;
  max-width: 100%;
  width: 480px;
}

#img-laporanbulanan img{
  max-height: 100%;
  height: 400px;
}

.laporanbulanan-content{  
  padding-top: 30px;
  font-size: 20px;  
}

.laporan-button button{  
  margin-top: 50px;
}

.ntombol{
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.nama_tombol{
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

table { page-break-after:auto; font-size: 14px; width:100% !important; overflow-x:auto;text-align: center; }
tr    { page-break-inside:avoid; page-break-after:always; }
td    { page-break-inside:avoid; page-break-after:auto; }
thead { display:table-header-group; }

.print {
  display: none;
}

@media (max-width: 1265px) {
  .btn-left{
    float: left;
    width: 220px;
    margin-bottom: 20px;
  }

  .btn-right{
    float: left;
    width: 220px;
  }

  .laporan-button p{
    font-size: 18px;
  }
}

@media (max-width: 770px) {
  .laporan-button p{
    font-size: 15px;
  }
}

@media (max-width: 572px) {
  .btn-absensi{
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .laporan-button p{
    font-size: 15px;
  }
}

@media (max-width: 325px) {
  .laporan-button p{
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  .laporan-button p{
    font-size: 9px;
  }
}
