* {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
}

p {
  font-family: "Inter", sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
}

/* Side Bar */
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.4s;
  min-height: 50em;
}

.sidebar-heading {
  background-color: #f0f0f0;
  padding: 10px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #262933;
  color: #fff;
  transition: all 0.4s;
  /* height: 100%; */
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar-body {
  position: relative;
  height: 130vh;
  overflow: visible;
  box-shadow: 0 2px 0 #2c2f38;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1b1d24;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #262933;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #1b1d24;
}

a[data-toggle="collapse"] {
  position: relative;
}

/* .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
} */

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1b1d24;
}

.menu-parent {
  border-radius: 4px;
}

.menu-head {
  cursor: context-menu;
}

#content {
  width: 100%;
  padding: 20px;
  min-width: height 100vh;
  transition: all 0.4s;
}

#content h2 {
  text-align: center;
  margin-bottom: 50px;
}

#content p {
  text-align: justify;
}

.custom-badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  position: absolute;
  top: 5px;
  font-family: "Roboto";
  right: 0px;
}

@media (max-width: 768px) {
  #sidebar {
    display: block;
    margin-left: -250px;
    position: fixed;
    z-index: 5;
  }

  #sidebar.active {
    margin-left: 0;
    min-height: 130vh;
    box-shadow: 5px 0 5px #7e7e7e5c;
  }

  #sidebarCollapse span {
    display: none;
  }

  .sidebar-list {
    min-height: 150vh;
  }

  #head-navbar {
    z-index: 2;
  }

  .fading {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 1;
    transition: 1.5s;
  }
}
